
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
body,
html {
    background-color: #f8f6ed;
    margin: 0;
    padding: 0;
    font-family:  'Noto Sans TC', sans-serif;
}

hr {
    margin: 10px 40px;
}

/* 導覽列設定 */
header {
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 使用 flexbox 布局 */
    align-items: center;
    border: 1px solid #1285c5;
    background-color: #f8f6ed;
    justify-content: space-between;
    padding: 10px 20px;
}
.myLogo{
    width: 150px;
}
.navbar {
    display: flex;
    gap: 20px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.navbar a {
    color: #1285c5;
    padding: 5px 20px;
    margin: 11px 0;
    text-decoration: none;
    text-align: center;
    position: relative;
    /* 定位偽元素*/
    display: inline-block;
    /* 使偽元素可在內部對齊 */
    transition: transform 0.3s ease;
    /* 字體浮動效果 */
}

.navbar a:hover {
    color: black;
    transform: translateY(-3px);
    /* 字體上浮 */
}

header .nav-link {
    text-decoration: none;
    padding: 10px;
    color: #1285c5;
    font-size: 20px;
}

header button {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #1285c5;
    border: 1px solid #1285c5;
}

header button:hover {
    background-color: #1285c5;
    color: #fff;
}

/* 底線效果偽元素 */
.navbar a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #1285c5;
    transition: width 0.3s ease, left 0.3s ease;
    /* 動畫效果 */
}

/* 懸停時的底線效果 */
.navbar a:hover::after {
    width: 100%;
    left: 0;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
    background-color: #1285c5;
    padding: 10px;
    border-radius: 5px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
}

/* 輪播圖樣式 */
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: none;
    /* 預設隱藏 */
}

.carousel img.active {
    display: block;
    /* 顯示活動圖片 */
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* 指示器樣式 */
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-indicators button {
    background-color: #555;
    border: none;
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #fff;
}

.mytitle {
    display: inline-block;
    font-size: 32px;
    width: 100%;
    color: #1285c5;
    padding: 10px;
}

/* 卡片樣式 */
.card-section {
    max-width: 1430px;
    margin: 0 auto;
    /* 自動分配左右的 margin，使容器居中 */
    padding: 0, 10px;
    width: 80%;
    /* 使容器寬度為父元素的100% */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
    cursor: pointer;
}

/* 圖片容器 */
.card-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.card-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 名稱對齊中間 */
    /* 製作hover字體浮現動態 */
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card:hover img {
    transform: scale(1.1);
}

.card-info:hover {
    opacity: 1;
}

.show-section {
    /* background-color: gray; */
    max-width: 1430px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* 因為使用了flexbox，可以用gap來設置卡片間距 */
    gap: 10px;
    justify-content: center;
    /* margin: 50px; */
    width: 80%;
}

.show-card {
    /* background-color: #1285c5; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* 設置圓角 */
    border-radius: 25px;
    position: relative;
    width: 400px;
    height: 300px;
    margin: 15px;
    padding-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* transform: translateY(20px); */
}

.show-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

.show-img {
    width: 100%;
    height: 150px;
}

.show-img img {
    /* 因為外圍圓角裡面也要有圓角 */
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 0.5s ease;
}

.show-card:hover img {
    transform: scale(1.1);
}

.show-info {
    background-color: #f8f6ed;
    margin: 15px;
}

.workshop-section {
    position: relative;
    /* background-color: #81adc5; */
    max-width: 1430px;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    /* overflow: hidden; */
}

.myWrapper {
    /* background-color: #1285c5; */
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.myWrapper .myCarousel {
    /* background-color: #1285c5; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    transition: transform 0.5s ease;
}

.myCarousel::-webkit-scrollbar {
    display: none;
}

.myCarousel :where(.workshop-card, .workshop-img) {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.myCarousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.myCarousel.no-transition {
    scroll-behavior: auto;
}

.myCarousel.dragging .workshop-card {
    cursor: grab;
    user-select: none;
}

.myCarousel .workshop-card {
    scroll-snap-align: start;
    cursor: pointer;
    width: 98%;
    margin: 10px;
    /* padding: 20px; */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.workshop-info {
    padding: 10px;
}

.workshop-img {
    background-color: #555;
    width: 100%;
    height: 200px;
    /* min-width: 50px; */
}

.workshop-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* 報名中按鈕 */
.action-btn {
    text-decoration:none ;
    display: block;
    text-align: center;
    margin:10px 20px;
    right: 0;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(199, 200, 201);
    color: #1285c5;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #1285c5;
    color: white;
}

/* 工作坊輪播圖 */
.arrow.myleft {
    left: -40px;
}

.arrow.myright {
    right: -40px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    border: none;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    background-color: #1286c5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.6s ease;
    border-radius: 25px;
    /* margin-top: -22px; */
    /* font-weight: bold; */
    /* font-size: 18px; */
}


/* footer */
.myLogo01{
    background-color: #f8f6ed;
    width: 200px;
    padding: 10px;
    margin-top: 20%;
}
.myLogo01 img{
    width: 100%;
}
.footer {
    background-color: #1285c5;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-section h4 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #555;
    padding: 10px 0;
}

@media (max-width: 1200px) {

    header,
    .navbar,
    .exhibit-intro {
        padding: 0 20px;
    }

    .card h4 {
        font-size: 24px;
    }

    .exhibit-info-card,
    .exhibit-content {
        flex-direction: column;
    }

    .tabcontent {
        padding: 0 10px;
    }
}

@media screen and (max-width: 900px) {
    .myWrapper .myCarousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media (max-width: 768px) {
    header {
        /* flex-direction: column; */
        align-items: center;
        padding: 16px 20px;
    }

    .navbar,
    .login {
        display: none;
    }

    .menu-icon {
        display: block;
        color: #1285c5;
    }

    .nav-links.show {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .myWrapper .myCarousel {
        grid-auto-columns: 100%;

    }
}

@media (max-width: 480px) {
    .navbar a {
        font-size: 14px;
    }
}